<div class='title dropdown' style='float: left; padding: 5px 0px 5px 10px;'>
    <span class='my-button dropdown-toggle' data-toggle='dropdown'>
        <%= name %> <span class='caret'></span>
    </span>
    <ul class='dropdown-menu color3' role='menu' aria-labelledby='dropdownMenu1'>
        <% for (c in choices) { %>
            <li role='presentation'  class='data-choice'>
                <a style='cursor: pointer;' role='menuitem' tabindex='-1'>
                    <%= choices[c].name %> <%= choices[c].start%> : <%= choices[c].end %>
                </a>
            </li>
        <% } %>
    </ul>
</div>

<div class='right' style='float: right; padding: 5px 10px 0px 0px;'>
    <abbr class='address-representation my-button' title='address representation'>
        <span class='glyphicon glyphicon-th-list'></span>
    </abbr>
    &nbsp;
    <abbr class='data-representation my-button' title='data representation'>
        <span class='glyphicon glyphicon-th'></span>
    </abbr>
</div>

<div style='clear: both;'></div>

