<table class='table'>
    <tr>
        <th>line</th>
        <th>error</th>
    </tr>
    <% _.each(errors, function(e) { %>
        <tr>
            <td><%= e.line %></td>
            <td><%= e.type %></td>
        </tr>
    <% }); %>
</table>
