<table class='table table-condensed'>
    <tr>
        <% _.each( flags, function(f){ %>
            <th><%= f.name %></th>
        <% }); %>
    </tr>
    <tr>
        <% _.each( flags, function(f){ %>
            <td id='F<%= f.name %>' class='val'><%= f.value %></td>
        <% }); %>
    </tr>
</table>
