<table class='table'>
	<tr>
		<th>name</th>
		<th>last modified</th>
		<th style='text-align: center;'>remove</th>
	</tr>
<% _.each(programs, function(p) { %>
	<% if (p.list == true) { %>
		<tr id='<%= p.name %>' class='choice'>
			<td><%= p.name %></td>
			<td><%= p.date %></td>
			<td style='text-align: center;'>
				<abbr class='remove my-button' title='remove'>
					<span class='glyphicon glyphicon-trash'></span>
				</abbr>
			</td>
		</tr>
	<% } %>
<% }); %> 
</table>
