<% for (s in settings) { %>
    <%= s %> <br/>
    <% for (c in settings[s].values) { %>
        <% if (c == settings[s].checked) { %>
            <input type='radio' name='<%= s %>' value='<%= c %>' checked> <%= settings[s].values[c] %>
        <% } else { %>
            <input type='radio' name='<%= s %>' value='<%= c %>'> <%= settings[s].values[c] %>
        <% } %>
    <% } %>
    <hr/>
<% } %>
