<table class='table'>
    <tr>
        <td><span class='glyphicon glyphicon-hand-right'></span></td>
        <td>Program Counter</td>
        <td><%= counter %></td>
    </tr>
    <tr>
        <td><span class='glyphicon glyphicon-time'></span></td>
        <td>Cycles</td>
        <td><%= cycles %></td>
    </tr>
</table>
