abbr {
    border-bottom: 0px solid black !important;
    cursor: default !important;
}

.my-button {
    cursor: pointer !important;
}

.light-theme a.my-button{
    color: Black;
    text-decoration: none;
}

.dark-theme a.my-button{
    color: #e0e0e0;
    text-decoration: none;
}


.my-button:hover {
    opacity: 0.4;
}

.disabled-button {
    cursor: default !important;
    opacity: 0.6;
}

.last-changed {
    color: red;
}

table {
    margin-bottom: 0px !important;
}

.table th {
    border-top: none !important;
}

.sortable_element {
    border: 1px solid black;
}

.modal-round-top {
    border-radius: 6px 6px 0px 0px;
}

.modal-round-bottom {
    border-radius: 0px 0px 6px 6px;
}

.light-theme {
    background-color: White;
}

.light-theme .color1 {
    background-color: White;
}

.light-theme .color2 {
    background-color: LightSteelBlue;
}

.light-theme .color3 {
    background-color: #efefef !important;
}

.light-theme .highlight-row {
    background-color: rgba(0,40,120,0.5);
    color: White;
}

.light-theme .selected-program {
    background-color: LightSteelBlue;
}

.light-theme .highlight-background {
    background-color: #e7edf5;
}

.light-theme .round {
    border: 1px solid LightSteelBlue;
    border-radius: 5px;
    margin: 5px;
}

.dark-theme {
    background-color: #202020;
    color: #e0e0e0;
}

.dark-theme .color1 {
    background-color: #202020;
    color: #e0e0e0;
}

.dark-theme .color2 {
    background-color: #3d3d3d;
}

.dark-theme .color3 {
    background-color: Gray !important;
}

.dark-theme .highlight-background {
    background-color: DarkGray;
    color: Black;
}

.dark-theme .selected-program {
    background-color: Gray;
}

.dark-theme input {
    background-color: transparent;
}

.dark-theme .btn {
    background-color: Gray;
    color: Black;
}

.dark-theme .btn-primary {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: Black;
}

.dark-theme .btn-primary:disabled {
    background-color: Gray;
    border: 1px solid Gray;
    color: Black;
}

.dark-theme .btn-primary:hover {
    background-color: White;
    border: 1px solid White;
    color: Black;
}

.dark-theme .round {
    border: 1px solid Black;
    border-radius: 5px;
    margin: 5px;
}

.dark-theme .highlight-row {
    background-color: #e0e0e0;
    color: Black;
}

.dark-theme li .active {
    background-color: #3d3d3d !important;
}

.resizable {
    padding: 0px 0px 15px 0px;
}

.status-container {
    height: 100px;
}
.info-content {
    height: 100%;
    overflow: auto;
}
#editor {
    width:100%;
    height:100%;
    resize: none;
}
